/* Footer CSS */
div.footer {
	height:130px;
	margin:0 0 0 0;
	padding:20px 0 0 0;
	box-shadow:rgba(0,0,0,0.14902) 0px 1px 1px 0px inset;
	background-color:#f0f0f0;
}
div.footer div.content {
	width:1200px;
	margin:0 auto;
	padding:0;
	color:#999999;
}
div.footer div.content div.social {
	margin:auto;
	padding:0;
	width:235px;
}
div.footer div.content div.social a.link {
	display:block;
	float:left;
	margin:0 6px 0 0;
	padding:0;
	transition:all 0.2s;
}
div.footer div.content div.social span.social_link {
	background-color:white;
	border-radius:30px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
	box-sizing:border-box;
	display:inline-block;
	font-size:1.1em;
	height:35px;
	margin:0 1px;
	padding:10px 11px;
	transition-duration:400ms;
	width:35px;
}
div.footer div.content div.social span.social_link:hover {
	color:white;
}
div.footer div.content div.social span.social_link.fb {
	padding:10px 13px;
}
div.footer div.content div.social span.social_link.fb:hover {
	background-color:#3A5795;
}
div.footer div.content div.social span.social_link.twitter:hover {
	background-color:#55acee;
}
div.footer div.content div.social span.social_link.linkedin:hover {
	background-color:#0077B5;
}
div.footer div.content div.social span.social_link.google {
	padding:11px 12px;
}
div.footer div.content div.social span.social_link.google:hover {
	background-color:#CC2723;
}
div.footer div.content div.social span.social_link.youtube {
	padding:11px 10px;
}
div.footer div.content div.social span.social_link.youtube:hover {
	background-color:#cc181e;
}
div.footer div.content a {
	color:#999999;
}
div.footer div.content a:hover {
	color:#4d4d4d;
	text-decoration:none;
}
div.footer div.content p {
	margin:10px 0 0 0;
	padding:0;
	text-align:center;
}
div.footer div.content ul {
	margin:0 auto;
	padding:0;
	list-style-type:none;
	text-align:center;
}
div.footer div.content ul li {
	display:inline;
	margin: 0 10px 0 10px;
}